{{define "todo"}}
{{if .Completed}}
  <div class="border border-success rounded m-1 p-1 overflow-scroll">
    <form action="/toggleTodoCompleted" method="POST">
      <input type="hidden" name="id" value="{{.Id}}">
      <input type="hidden" name="completed" value="{{.Completed}}">
      <p  for="flexCheck{{.Id}}">{{.Title}} - {{.Description}}</p>
      <input class="form-check-input" type="checkbox" id="flexCheck{{.Id}}" {{if .Completed}}checked{{end}} onchange="this.form.submit()">
    </form>
  </div>
{{end}}
{{if not .Completed}}
  <div class="border border-danger rounded m-1 p-1 overflow-scroll">
    <form action="/toggleTodoCompleted" method="POST">
      <input type="hidden" name="id" value="{{.Id}}">
      <input type="hidden" name="completed" value="{{.Completed}}">
      <p  for="flexCheck{{.Id}}">{{.Title}} - {{.Description}}</p>
      <input class="form-check-input" type="checkbox" id="flexCheck{{.Id}}" {{if .Completed}}checked{{end}} onchange="this.form.submit()">
    </form>
  </div>
{{end}}
{{end}}
