{{define "todo"}}
<div class="border {{if .Completed}} border-success {{else}} border-danger {{end}} rounded m-1 p-1 overflow-scroll d-flex justify-content-between">
    <div class="col-1">
      <form action="/deleteTodo" method="POST" >
        <input type="hidden" name="id" value="{{.Id}}">
        <button type="submit" class="btn-danger btn-close btn-close-white"></button>
      </form>
      <form action="/toggleTodoCompleted" method="POST" >
        <input type="hidden" name="id" value="{{.Id}}">
        <input type="hidden" name="completed" value="{{.Completed}}">
        <input class="form-check-input" type="checkbox" id="flexCheck{{.Id}}" {{if .Completed}}checked{{end}} onchange="this.form.submit()">
      </form>
    </div>
    <div class="col-11">
        <p  for="flexCheck{{.Id}}">{{.Title}} - {{.Description}}</p>
    </div>
</div>
{{end}}
