.entry {
  background-color: #ffffff!important;
  color: #333333;
  border: 5px solid #cccccc;
  padding: 5px;
  border-radius: 4px;
}
.project-label {
  background-color: #ffffff!important;
  color: #333333;
  border: 5px solid #ffffff;
  padding: 5px;
  border-radius: 4px;
}
